<%- include('partials/header') %>

    <!-- ====== SHOWCASE START ===========  -->
    <main>
        <div class="slider-container swiper ">
            <div class="slide-content swiper-wrapper">
                <% places.forEach(place=> { %>
                    <div class="overlay swiper-slide">
                        <img src="<%=place.image%>" alt="<%= place.image %>">
                        <div class="img-overlay">
                            <p>Lets Explore FATA</p>
                            <h2><span>District</span>
                                <%= place.name %>
                            </h2>
                            <h3>
                                <%= place.description %>
                            </h3>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </main>
    <!-- ====== SHOWCASE End ===========  -->

    <!-- About Start -->
    <div class="container-xxl py-5" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="/img/about-img2.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to <span class="text-primary">Explore FATA</span></h1>
                    <p class="mb-4">Your ultimate guide to the former Federally Administered Tribal Areas.
                        Our mission is to showcase the region's beauty, heritage, and culture.</p>
                    <p class="mb-4">We are a team of local experts and travel enthusiasts dedicated to providing accurate and detailed
                        information about FATA.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-xxl py-5" id="services">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                <h1 class="mb-5">Our Services</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-landmark text-primary mb-4"></i>
                            <h5>Cultural Heritage Tours</h5>
                            <p>Explore the rich cultural heritage of FATA with guided tours to historical and significant sites.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-monument text-primary mb-4"></i>
                            <h5>Historical Site Information</h5>
                            <p>Discover the history behind FATA's ancient landmarks and monuments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5>Travel Guides</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-hands text-primary mb-4"></i>
                            <h5>Traditional Crafts & Handicrafts</h5>
                            <p>Learn about the traditional crafts and handicrafts unique to the FATA region.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                            <h5>Local Cuisine Exploration</h5>
                            <p>Savor the authentic flavors of FATA with insights into local cuisine and dining spots.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-tree text-primary mb-4"></i>
                            <h5>Guided Nature Walks</h5>
                            <p>Immerse yourself in the natural beauty of FATA with guided nature walks and hikes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-calendar-alt text-primary mb-4"></i>
                            <h5>Cultural Events Listins</h5>
                            <p>Stay updated on cultural events and festivals happening across the FATA region.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-images text-primary mb-4"></i>
                            <h5>Photo & Videos Archives</h5>
                            <p>Explore a rich archive of photos and videos showcasing the beauty and culture of FATA.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Destination Start -->
    <div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">FATA Districts</h6>
                <h1 class="mb-5">Popular Districts</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6 right-side-images">
                    <div class="row g-3">
                        <% places.sort((a, b) => b.ratings - a.ratings).slice(0, 4).forEach((place, index) => { %>
                            <% if (index < 4 && index !==1) { %>
                                <div class="<%= index === 0 ? 'col-lg-12' : 'col-lg-6' %> col-md-12 wow zoomIn" data-wow-delay="0.<%= 1 + index * 2 %>s">
                                    <a class="position-relative d-block overflow-hidden" href="/district/<%- place.name %>">
                                        <img class="img-fluid" src="<%= place.image %>" alt="<%= place.name %>">
                                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2"><%=place.ratings%> ⭐</div>
                                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2"><%= place.name %></div>
                                    </a>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <% if (places.length > 1) { %>
                    <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                        <a class="position-relative d-block h-100 overflow-hidden" href="/district/<%- places[1].name %>">
                            <img class="img-fluid position-absolute w-100 h-100" src="<%= places[1].image %>" alt="<%= places[1].name %>" style="object-fit: cover;">
                            <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2"> <%=places[1].ratings%> ⭐ </div>
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2"><%= places[1].name %></div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="/allDistricts/" style="margin-left: 40%; margin-top: 2.5rem;">See More</a>
    </div>
    <!-- Destination End -->

    <!-- Regions Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Regions</h6>
                <h1 class="mb-5">Popular Regions</h1>
            </div>
            
                <div class="row g-4 justify-content-center"> 
                    <% places.sort((a, b) => b.ratings - a.ratings).slice(0,3).forEach(place => { %> 
                    <% place.regions.sort((a, b) => b.ratings - a.ratings).slice(0, 1).forEach((region, index) => { %>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="package-item">
                                <div class="overflow-hidden" style="min-width: 100%; min-height: 250px; background-size: cover; max-width: 100%; max-height: 250px;">
                                    <img class="img-fluid" src="<%= region.image %>" alt="" style="width: 100%; height: 250px; background-size: cover;">
                                </div>
                                <div class="d-flex border-bottom" >
                                    <small class="flex-fill text-center border-end py-2">
                                        <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                        <%= region.name %>
                                    </small>
                                    <small class="flex-fill text-center border-end py-2">
                                        <i class="fa fa-map text-primary me-2"></i>
                                        <%= place.name %>
                                    </small>
                                    <small class="flex-fill text-center py-2">
                                        <i class="fa fa-user text-primary me-2"></i>
                                        <%= region.ratings %>
                                    </small>
                                </div>
                                <div class="text-center p-4">
                                    <h3 class="mb-0"><%= region.name %></h3>
                                    <div class="mb-3">
                                        <% for (let i = 0; i < 5; i++) { %>
                                            <% let starClass = i < region.ratings ? 'text-primary' : 'text-muted'; %>
                                            <small class="fa fa-star <%= starClass %>"></small>
                                        <% } %>
                                    </div>
                                    <p><%= region.name %> is located in District <%= place.name %> This Region known <%= region.description %></p>
                                    <div class="d-flex justify-content-center mb-2">
                                        <a href="/region/<%- region.name %>" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Explore Region</a>
                                        <a href="/district/<%- place.name %>" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Explore District</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                    <% }) %>

                    
                </div>
                <div style="padding-top: 2rem;">
                    <a class="btn btn-primary py-3 px-5 mt-2" href="/tours/" style="margin-left: 40%; margin-top: 2.5rem;">Load More</a>
                </div>
        </div>
        
    </div>
    <!-- Regions End -->

    <!-- Process Start -->
    <div class="container-xxl py-5" id="process">
        <div class="container">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
                <h1 class="mb-5">3 Easy Steps</h1>
            </div>
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-globe fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Choose A Destination</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Choose specific Destination or region which suit you best.  Know more about it and then. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-map fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Select A Region</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Select a specific region inside choosed destination. Read about it's speciality and choose it based on you wants.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-plane fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Fly Today</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Book a flight or you book a cab and explore the mismirizing beauty of FATA. Happy Journey...!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Start -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
                <h1 class="mb-5">Meet With Local Guides</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="./img/profile.png" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Suhail Ahmad</h5>
                            <small>Travel Agent</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="./img/profile2.png" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Sameer Jafree</h5>
                            <small>Local Guide</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="./img/profile3.png" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Nazeem Khan</h5>
                            <small>Local Guide</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="./img/team-3.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/nzm.khan.5245" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">David</h5>
                            <small>Travel & Tourism</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" id="testimonials">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Visotors Review !!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="./img/profile.png" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Suhail Ahmad</h5>
                    <p>Naoshera</p>
                    <p class="mb-0">Each destination page is rich with information, including historical background, must-see attraction local cusine and recommendations, and practical travel tips.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="./img/profile2.png" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Sameer Jafree</h5>
                    <p>Hangu</p>
                    <p class="mt-2 mb-0">The Website perform well on both large and small screen devices. the site is completely responsive.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="./img/profile3.png" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Nazeem Khan</h5>
                    <p>Swat Valley</p>
                    <p class="mt-2 mb-0">The website layout is clean and intuitive. Navigation is straight forward making it easy for user to navigate information they need without hassle. </p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Booking Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
        <div class="container">
            <div class="booking p-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-6 text-white">
                        <h6 class="text-white text-uppercase">Contact Us</h6>
                        <h1 class="text-white mb-4">What's in your Mind?</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-white mb-4">Type your Message!</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="subject" placeholder="subject" style="width: 100%;">
                                    <label for="email">Subject</label>
                                </div>
        
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-outline-light w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking Start -->
<%- include("partials/footer") %>