<%- include ('partials/header') %>
<!-- Regions Start -->
<div class="container-xxl py-5" id="regions">
    <div class="container">
        <hr>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Regions</h6>
            <h1 class="mb-5">All Regions</h1>
        </div>
        <hr>
        <div class="row g-4 justify-content-center"> 
                <% places.forEach(place=>{ %>
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="section-title bg-white text-center text-primary px-3">District</h6>
                        <h4 class="mb-5"><%= place.name %> Regions</h4>
                    </div>
                    <% place.regions.forEach(region => { %> 
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="package-item">
                            <div class="overflow-hidden" style="min-width: 100%; height: 250px;">
                                <img class="img-fluid" src="<%= region.image %>" alt="<%= region.name %>" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                    <%= region.name %>
                                </small>
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-map text-primary me-2"></i>
                                    <%= place.name %>
                                </small>
                                <small class="flex-fill text-center py-2">
                                    <i class="fa fa-user text-primary me-2"></i>
                                    <%= region.ratings %>
                                </small>
                            </div>
                            <div class="text-center p-4">
                                <h3 class="mb-0"><%= region.name %></h3>
                                <div class="mb-3">
                                    <% for (let i = 0; i < 5; i++) { %>
                                        <% let starClass = i < region.ratings ? 'text-primary' : 'text-muted'; %>
                                        <small class="fa fa-star <%= starClass %>"></small>
                                    <% } %>
                                </div>
                                <p><%= region.name %> is located in District <%= place.name %>. This Region is known for <%= region.description %>.</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="/region/<%= region.name %>" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Explore Region</a>
                                    <a href="/district/<%= place.name %>" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Explore District</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <% }) %>
                <hr>
                <%}) %>
               
        </div>
    </div>
</div>
<!-- Regions End -->
<%- include ('partials/footer') %>