<%- include('partials/header') %>

    <!-- ====== Travel Countries ========== -->
    <section id="travel-countries">
        <div class="container">
            <p class="heading-normal-txt">MOST POPULAR</p>
            <h2 class="headings">Travel <span>Regions</span></h2>
            <% places.forEach((place, index)=> { %>
                <% place.regions.sort((a, b)=> b.ratings - a.ratings); %>
                    <!-- Alternate display of places -->
                    <% if (index % 2===0) { %>
                        <!-- First section -->
                        <div class="travel-countries-wrapper">
                            <div class="countries-content">
                                <h2 class="secondary-heading">
                                    <%= place.name %>
                                </h2>
                                <p class="lead">
                                    District <%= place.name %> a beautiful place to visit. The main region of this
                                        district is <%= place.description %>
                                </p>
                                <ul>
                                    <% let regionName2="" %>
                                        <% place.regions.forEach(region=> { %>
                                            <% regionName2=region.name %>
                                                <a href="/region/<%= region.name %>">
                                                    <li class="country-names"><i class="fa fa-location-dot"></i>
                                                        <%= region.name %>
                                                    </li>
                                                </a>
                                                <% }); %>
                                </ul>
                                <a href="/district/<%=place.name%>"><button type="button" class="primary-btn">Explore <i
                                            class="fa fa-arrow-right"></i></button></a>
                            </div>
                            <div class="slider-content-wrapper swiper3">
                                <div class="swiper-wrapper">
                                    <% let regionName="" %>
                                        <% place.regions.forEach(region=> { %>
                                            <% regionName=region.name %>
                                                <div class="swiper-slide carousel">
                                                    <img src="<%= region.image %>" alt="">
                                                    <div class="carousel-img-verlay">
                                                        <div class="img-content">
                                                            <h2><i class="fa fa-location-dot"></i>
                                                                <%= region.name %>
                                                            </h2>
                                                            <div class="hidden-content-carousel">
                                                                <span>
                                                                    <a class="btn-primary" href="/region/<%=regionName%>">Explore</a></span><i class="fa fa-arrow-right"></i>
                                                                <span>
                                                                    <i class="fa fa-user"></i> Ratings: <%=
                                                                        region.ratings %>
                                                                </span>
                                                                <span><i class="fa fa-location-dot"></i>
                                                                    <%= place.name %>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="price-label">
                                                        <p>
                                                            <%= region.ratings %> ⭐
                                                        </p>
                                                    </div>
                                                </div>
                                                <% }); %>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <!-- Second section -->
                            <div class="second-content">
                                <div class="slider-content-wrapper swiper3">
                                    <div class="swiper-wrapper">
                                        <% let regionName3="" %>
                                        <% place.regions.forEach(region=> { %>
                                            <% regionName3=region.name%>
                                            <div class="swiper-slide carousel">
                                                <img src="<%= region.image %>" alt="">
                                                <div class="carousel-img-verlay">
                                                    <div class="img-content">
                                                        <h2><i class="fa fa-location-dot"></i>
                                                            <%= region.name %>
                                                        </h2>
                                                        <div class="hidden-content-carousel">
                                                            <span><i class="fa fa-arrow-left"></i><a
                                                                    href="/region/<%=region.name%>">Explore</a></span>
                                                            <span><i class="fa fa-user"></i> Ratings: <%= region.ratings
                                                                    %></span>
                                                            <span><i class="fa fa-location-dot"></i>
                                                                <%= place.name %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="price-label">
                                                    <p>
                                                        <%= region.ratings %> ⭐
                                                    </p>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                                <div class="countries-content">
                                    <h2 class="secondary-heading">
                                        <%= place.name %>
                                    </h2>
                                    <p class="lead">
                                        District <%= place.name %> is a beautiful place. Its main region is <%=
                                                place.description %>. Below is the list of all the regions.
                                    </p>
                                    <div class="country-names">
                                        <ul>
                                            <% place.regions.forEach(region=> { %>
                                                <a href="/region/<%=region.name%>">
                                                    <li>
                                                        <i class="fa fa-location-dot"></i>
                                                        <%= region.name %>
                                                    </li>
                                                </a>
                                                <% }); %>
                                        </ul>
                                    </div>
                                    <a href="/district/<%=place.name%>">
                                        <button type="button" class="primary-btn">Explore <i
                                            class="fa fa-arrow-right"></i></button>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                                <% }); %>
        </div>
    </section>
    <!-- ====== Travel Countries end========== -->

    <!-- ========= STAIIC COUNTER NUMBERS ====== -->
    <section id="static-container" style="background-image: url(/Img/Kurram_parachinar.jpg);">
        <div class="container">
            <div class="static-wrapper">
                <div class="static-icons">
                    <i class="fa fa-plane-departure"></i>
                    <p class="number" data-ceil="600">600</p>
                    <p class="txt">Flight Booking</p>
                </div>
                <div class="static-icons">
                    <i class="fa fa-home"></i>
                    <p class="number" data-ceil="200">200</p>
                    <p class="txt">Amazing Tour</p>
                </div>
                <div class="static-icons">
                    <i class="fa fa-ship"></i>
                    <p class="number" data-ceil="200">200</p>
                    <p class="txt">Cruises Booking</p>
                </div>
                <div class="static-icons">
                    <i class="fa fa-ticket"></i>
                    <p class="number" data-ceil="100">100</p>
                    <p class="txt">Ticket Booking</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ======== STATIC COUNTER NUMBER END ======= -->

    <%- include('partials/footer') %>